version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: vault-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vault_local
    ports:
      - "3306:3306"
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 512M

  redis:
    image: redis:alpine
    container_name: vault-redis
    ports:
      - "6379:6379"
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M